.form {
  padding-block: 20px;
  padding-inline: 26px;
  border: var(--border-grey);
}

.form h4 {
  margin-bottom: 16px;
}

.blockInForm {
  display: flex;
  flex-direction: column;
}

.blockInForm + .blockInForm {
  margin-top: 15px;
}

.input,
.textarea {
  max-width: 70%;
  width: 100%;
  border: var(--border-dark-grey);
  border-radius: var(--border-radius-big);
  padding: 9px 16px;
}

.textarea {
  margin-bottom: 15px;
  height: 84px;
}

.titleLabel, .titleText {
  margin-bottom: 5px;
}

