.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: var(--black);
  padding: var(--container-padding-x);
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}